.isf--container.static-survey {
  bottom: auto;
  right: auto; }
  .isf--container.static-survey .isf--disclaimer br {
    display: none; }

.isf--close {
  width: 27px; }
  .isf--close:hover {
    color: #794462; }

.isf--form {
  padding: 12px 0 0; }
  .isf--form button {
    margin-bottom: 0;
    font-size: 14px; }

.isf--ctd {
  font-size: 12px;
  width: 100%; }

.isf--disclaimer {
  font-size: 12px; }

.isf--container {
  bottom: 55px;
  width: 305px; }

.pii-form button {
  margin: 0 0 0 10px;
  width: 100px;
  padding: 7px 5px;
  background: #666; }

.pii-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.pii-form textarea {
  width: 33%;
  margin-bottom: 0;
  font-size: 12px; }
  .pii-form textarea:focus {
    border: 4px solid #a27e91; }

.pii-form-label {
  text-align: left;
  padding-right: 20px; }
  .pii-form-label p {
    margin-bottom: 0; }

/*# sourceMappingURL=feedbackjs-override.css.map */