.isf {
  &--container {
    &.static-survey {
      bottom: auto;
      right: auto;
      .isf--disclaimer {
        br {
          display: none;
        }
      }
    }
  }
  &--close {
    width: 27px;
    &:hover {
      color: #794462;
    }
  }
  &--form {
    padding: 12px 0 0;
    button {
      margin-bottom: 0;
      font-size: 14px;
    }
  }
  &--ctd {
    font-size: 12px;
    width: 100%;
  }
  &--disclaimer {
    font-size: 12px;
  }
  &--container {
    bottom: 55px;
    width: 305px;
  }
}
.pii-form {
  button {
    margin: 0 0 0 10px;
    width: 100px;
    padding: 7px 5px;
    background: #666;
  }
  &.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  textarea {
    width: 33%;
    margin-bottom: 0;
    font-size: 12px;
    &:focus {
      border: 4px solid #a27e91;
    }
  }
  &-label {
    text-align: left;
    padding-right: 20px;
    p {
      margin-bottom: 0;
    }
  }
}
