@import "variables";

.isf {
  &--container {
    background-color: $white;
    font-weight: bold;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
    min-height: 100px;
    width: 250px;
    overflow:hidden;
    border: 1px solid $outer-border;

    &.static-survey {
      position: relative;
      bottom: initial;
      right: initial;
      z-index: 0;
      width: auto;
      border: 0;
      background: transparent;
      overflow: initial;
    }
  }

  &--text-disclaimer {
    font-size: 14px;
    font-weight: normal;
    color: $grey-dark;
    padding: 0 15px 10px;
    display: none;

    &.active {
      display: block;
    }

    p {
      margin-top: 0;
    }
  }

  &--disclaimer {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: $grey-dark;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--form {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    padding: 10px 15px 0px;

    &.active {
      display: block;
    }

    select {
      width: 100%;
    }

    button {
      width: 100%;
      margin-top: 5px;
      padding: 10px 5px;
      border: 0 solid transparent;
      background: $submit-button;
      text-shadow: none;
      color: $white;
      border-radius: 4px;
      font-weight: bold;
    }
    &-check-group {
      margin: 0 10px;
    }
  }

  &--close {
    position: absolute;
    background: 0;
    border: 0;
    padding: 0;
    margin: 0;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 2;
    color: $close-button;
    font-size: 20px;
  }

  &--ctd {
    text-align: center;
    font-size: .8em;
    font-weight: normal;
    color: $grey-medium
  }

  &--checkbox {
    display: flex;
    font-weight: normal;
    margin: 0;
  }

  &--stars {
    color: $text-color;
    font-size: 24px;
    position: relative;
    height:24px;
    width: 24px;

    span {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    input[type=radio] {
      display: none;
    }

    &.active {
      .active {
        visibility: visible;
      }
      .inactive {
        visibility: hidden;
      }
      &.hover {
        .active {
          color: $option-button-hover;
        }
      }
    }

    &.inactive {
      .active {
        visibility: hidden;
      }
      .inactive {
        visibility: visible;
      }
    }
  }

  .fbftimer {
    font-size: 10px;
    width: 100%;
    text-align: center;
  }

  textarea {
    width: 95%;
    border: 4px solid $outer-border;
    border-radius: 5px;
    padding: 5px;

    &::placeholder {
      color: $text-color;
    }
  }

  input {
    &::placeholder {
      color: $text-color;
    }
  }

  &--check {
    display: block;
    font-weight: normal;
    padding-bottom: 5px;
  }

  &--label {
    display: block;
    padding-bottom: 5px;
    text-align: center;
    color: $black;
    position: relative;
    z-index: 1;

    small {
      color: $black;
    }
  }

  &--radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px;
  }

  &--radio {
    text-align: center;
    color: $text-color;
    cursor: pointer;
    padding: 0 5px;

    &-yes {
      background-color: $option-button;
      border-radius: 4px 0 0 4px;
      margin-right: 2px;
    }

    &-no {
      background-color: $option-button;
      border-radius: 0 4px 4px 0;
      margin-left: 2px;
    }
  }

  &--buttons {
    flex: 1 1;
    margin-top: 5px;
    border: 0px solid transparent;
    background: $option-button;
    text-shadow: none;
    color: $white;
    padding: 10px;

    input[type=radio] {
      display: none;
    }

    &:first-of-type{
      border-radius: 4px 0 0 4px;
      margin-right: 2px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
      margin-left: 2px;
    }
  }
}
