/* COLORS */
$white: #ffffff;
$light-grey: #FFFCF9;
$mauve: #794462;
$mauve-light: #a27e91;
$background-slate: #627578;
$blue: #435f66;
$blue-light:#d1dfe3;
$grey-dark: #484848;
$grey-medium: #9e9e9e;
$grey-border: #dbdbdb;
$black: #222;

$outer-border: $grey-border;
$close-button: $grey-medium;
$submit-button: $grey-medium;
$text-color: $grey-medium;
$option-button: $blue;
$option-button-hover: $blue;
