<!doctype html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    </head>
    <body style="height: 3000px">
    <div id="main-content" class="main-content-class">
        this is a test.
    </div>
    <script type="text/javascript">
      window.onload = function() {
        var nnFormBox = new InterceptSurvey({
          parentTag: 'body',
          attachStylesheet: true,
          path: '.',
          debug: true,
          delay: 0,
          baseUrl: 'http://localhost:8080/',
          questionsPath: '/survey-questions.json',
          spanishTranslation: false,
          useFontAwesome: true,
            displayDelayType: 'none'
        });

        nnFormBox.displayForm();
      }
    </script>
    </body>
</html>
