{#
/**
 * @file
 * Default theme implementation for displaying a search index.
 *
 * Available variables:
 * - table: The index info table.
 * - description: The index description.
 * - index_progress: The index progress.
 *
 * @see template_preprocess_search_api_index()
 *
 * @ingroup themeable
 */
#}
<fieldset>
	<legend>Survey Status</legend>
	{% if lastExported %}
		<p class="lastExported">
			<label>Last Time exported to BigQuery:</label>
			{{ lastExported|format_date('medium') }}
		</p>

	{% endif %}

</fieldset>
<fieldset>
	<legend>Survey API Info</legend>
	{% if questionsPath %}
		<p class="questionsPath">
			<label>Question API endpoint:</label>
			{{ questionsPath|nl2br }}
		</p>

	{% endif %}
	{% if submitPath %}
		<p class="submitPath">
			<label>Submission API endpoint:</label>
			{{ submitPath|nl2br }}</p>
	{% endif %}
</fieldset>

