{#
/**
 * @file survey_response.html.twig
 * Default theme implementation to present Survey Response data.
 *
 * This template is used when viewing Survey Response pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_survey_response()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('survey_response') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
